body {
    background-color: black;
    background-image: url('http://unsplash.com/photos/Y_pLBbSAhHI/download?force=true');
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2, h3 {
    color: #328aca;
}

form {
    background: #e7e7e7;
    font-family: 'Lato', sans-serif;
    margin: 50px auto;
    max-width: 650px;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    border-radius: 2%;
    font-size: 18px;
    text-align: center;
    opacity: .8;
}

.map {
    margin: auto;
    text-align: center;
}

form .message input {
    height: 200px;
    display: block;
    width: 400px;
}

.btn {
    display: block;
    margin: auto;
    border-radius: 10%;
}

.
